## Домашнее задание

In [1]:
import pandas as pd

**Задание 1**  
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [29]:
movies_data = pd.read_csv('ml-latest-small/movies.csv')
rating_data = pd.read_csv('ml-latest-small/ratings.csv')
max_rated_id = rating_data.query('rating == 5.0')['movieId'].value_counts().idxmax()
movies_data.query(f'movieId == {max_rated_id}')

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**  
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [30]:
power = pd.read_csv('power.csv')
power.loc[(power['category'].isin([4, 12, 21])) & (power['country'].isin(['Latvia', 'Estonia', 'Lithuania'])) & (power['year'].between(2005, 2010)) & (power['quantity'] > 0)]['quantity'].sum()

240580.0

**Задание 3**  
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [31]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs={'class': 'quote_list'}, encoding='utf-8')
df

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       929315      -               928392
 1          NaN            EUR/RUB       847490      -               852470
 2          NaN            USD/RUB       773293      -               784560
 3          NaN            JPY/RUB        07031      -                07073
 4          NaN            CNY/RUB       109348      -               110346
 5          NaN            CHF/RUB       797428      -               803771
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        10959      -                10880
 8          NaN            EUR/GBP        09116      -                09198
 9          NaN            EUR/JPY      1205050      -              1207750
 10         NaN            EUR/CHF        10629      -                10630
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        09126      -                09188
 13         NaN            USD/GBP        08317      -                08456
 14         NaN            USD/JPY      1099650      -              1109900
 15         NaN            USD/CHF        09699      -                09769
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00076      -                00076
 19         NaN            JPY/USD        00091      -                00090
 20         NaN    JPY/CHF (100:1)        08800      -                08800
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        12021      -                11825
 23         NaN            GBP/JPY      1321834      -              1312580
 24         NaN            GBP/EUR        10971      -                10870
 25         NaN            GBP/CHF        11659      -                11557
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11659      -                11557
 28         NaN            EUR/CHF        10629      -                10630
 29         NaN    JPY/CHF (100:1)        08800      -                08800
 30         NaN            USD/CHF        09699      -                09769
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       309941      -               304252
 33         NaN            USD/UAH       282702      -               279553
 34         NaN            CHF/UAH       291506      -               286223
 35         NaN            GBP/UAH       339921      -               330600

           %  Абсолютное значение     Время
 0    0,10 %                00923  17:44:00
 1   -0,58 %               -04980  17:44:00
 2   -1,44 %               -11267  17:44:00
 3   -0,60 %               -00043  17:44:00
 4   -0,90 %               -00998  17:44:00
 5   -0,79 %               -06343  17:44:00
 6         %  Абсолютное значение     Время
 7    0,73 %                00080  17:44:00
 8   -0,89 %               -00081  17:44:00
 9   -0,22 %               -02700  17:44:00
 10   0,00 %               -00001  17:44:00
 11        %  Абсолютное значение     Время
 12  -0,68 %               -00062  17:44:00
 13  -1,64 %               -00139  17:44:00
 14  -0,92 %               -10250  17:44:00
 15  -0,72 %               -00071  17:44:00
 16        %  Абсолютное значение     Время
 17   0,23 %                00000  17:44:00
 18  -0,70 %               -00001  17:44:00
 19   0,96 %                00001  17:44:00
 20   0,17 %                00000  17:44:00
 21        %  Абсолютное значение     Время
 22   1,65 %                00196  17:44:00
 23   0,71 %                09255  17:44:00
 24   0,92 %                00101  17:44:00
 25   0,88 %                00102  17:44:00
 26        %  Абсолютное значение     Время
 27   0,88 %                00102  17:44:00
 28   0,00 %               -00001  17:44:00
 29   0,17 %                00000  17:44:00
 30  -0,72 %               -00071  17:44:00
 31        %  Абсолютное значение     Время
 32   1,87 %                05689  17:44:00
 33   1,13 %                03149  17:43:00
 34   1,85 %                05284  17:44:00
 35   2,82 %                09322  17:44:00  ]

In [32]:
df_corona = pd.read_html('https://www.worldometers.info/coronavirus/', attrs={'class':'table table-bordered table-hover main_table_countries'}, encoding='utf-8')
df_corona[:10]

[              Country,Other  TotalCases NewCases  TotalDeaths  NewDeaths  \
 0                     China       81285      +67       3287.0        6.0
 1                     Italy       74386      NaN       7503.0        NaN
 2                       USA       68905     +694       1037.0       10.0
 3                     Spain       56188   +6,673       4089.0      442.0
 4                   Germany       40585   +3,262        229.0       23.0
 ..                      ...         ...      ...          ...        ...
 195        Papua New Guinea           1      NaN          NaN        NaN
 196  St. Vincent Grenadines           1      NaN          NaN        NaN
 197             Timor-Leste           1      NaN          NaN        NaN
 198        Turks and Caicos           1      NaN          NaN        NaN
 199                  Total:      492250    21282      22180.0      902.0

      TotalRecovered  ActiveCases  Serious,Critical  Tot Cases/1M pop  \
 0           74051.0         3947            1235.0              56.0
 1            9362.0        57521            3489.0            1230.0
 2             428.0        67440            1455.0             208.0
 3            7015.0        45084            3166.0            1202.0
 4            5669.0        34687              23.0             484.0
 ..              ...          ...               ...               ...
 195             NaN            1               NaN               0.1
 196             NaN            1               NaN               9.0
 197             NaN            1               NaN               0.8
 198             NaN            1               NaN              26.0
 199        119732.0       350338           17769.0              63.2

      Tot Deaths/1M pop
 0                  2.0
 1                124.0
 2                  3.0
 3                 87.0
 4                  3.0
 ..                 ...
 195                NaN
 196                NaN
 197                NaN
 198                NaN
 199                2.8

 [200 rows x 10 columns],
               Country,Other  TotalCases NewCases  TotalDeaths  NewDeaths  \
 0                     China       81218      +47       3281.0        4.0
 1                     Italy       74386   +5,210       7503.0      683.0
 2                       USA       68211  +13,355       1027.0      247.0
 3                     Spain       49515   +7,457       3647.0      656.0
 4                   Germany       37323   +4,332        206.0       47.0
 ..                      ...         ...      ...          ...        ...
 195  St. Vincent Grenadines           1      NaN          NaN        NaN
 196                 Somalia           1      NaN          NaN        NaN
 197             Timor-Leste           1      NaN          NaN        NaN
 198        Turks and Caicos           1      NaN          NaN        NaN
 199                  Total:      470968    48441      21278.0     2388.0

      TotalRecovered  ActiveCases  Serious,Critical  Tot Cases/1M pop  \
 0           73650.0         4287            1399.0             56.00
 1            9362.0        57521            3489.0           1230.00
 2             394.0        66790            1452.0            206.00
 3            5367.0        40501            3166.0           1059.00
 4            3547.0        33570              23.0            445.00
 ..              ...          ...               ...               ...
 195             NaN            1               NaN              9.00
 196             NaN            1               NaN              0.06
 197             NaN            1               NaN              0.80
 198             NaN            1               NaN             26.00
 199        113827.0       335863           14956.0             60.40

      Tot Deaths/1M pop
 0                  2.0
 1                124.0
 2                  3.0
 3                 78.0
 4                  2.0
 ..                 ...
 195                NaN
 196                NaN
 197                NaN
 198                NaN
 199                2.7

 [200 rows x 10 columns]]